.CardMovieContainer {
	border-radius: 10px;
	width: 300px;
	height: 500px;
	box-shadow: 4px 4px 9px 2px #00000099;
	margin: 20px;
	font-family: "Roboto Slab", serif;
	cursor: pointer;
	&:hover {
		img {
			height: 500px;
			border-radius: inherit;
		}
		.DataContainer {
			position: relative;
			bottom: 0px;
			background: rgba(245, 245, 245, 0.808);
			height: 500px;
			margin-top: -503px;
			border-radius: 10px;
			padding: 15px;
			box-sizing: border-box;
			h2 {
				color: rgb(71, 71, 71);
			}
			p {
				display: initial;
				max-height: 400px;
				overflow: hidden;
			}
			.Data {
				display: initial;
			}
		}
	}
	img {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		width: inherit;
		height: 450px;
		object-fit: cover;
		transition: 2s;
	}
	.DataContainer {
		position: relative;
		bottom: 0;
		transition: 1s;
		height: 50px;
		display: flex;
		flex-direction: column;
		h2 {
			color: gray;
			margin: 0;
			text-align: center;
		}
		p {
			display: none;
			transition: 1s;
		}
		.Data {
			display: none;
			strong {
				margin-right: 20px;
			}
		}
	}
}
